.todo-add {
  --pink: hsla(351, 100%, 86%, 1);
  --purple: hsla(315, 63%, 70%, 1);
  --deep-purple: hsla(315, 100%, 36%, 1);
  --white: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  border: 1px solid var(--pink);
  border-radius: 0.3em;
  width: 15em;
}

input[type="text"]:focus {
  border-color: var(--deep-purple);
  outline: none;
}

input[type="text"]::selection {
  background: var(--purple);
  color: var(--white);
  outline: none;
}
.add {
  border-color: var(--pink);
  background-color: var(--pink);
  color: var(--white);
  border-radius: 0.2em;
  width: 8em;
  height: auto;
  margin-top: 0.2em;
}

.add:hover {
  background-color: var(--purple);
  border-color: var(--purple);
}
.add:active {
  background-color: var(--deep-purple);
  border-color: var(--deep-purple);
}

.add:focus {
  outline: none;
  background-color: var(--deep-purple);
  border-color: var(--deep-purple);
}

.add::selection {
  background: var(--purple);
  color: var(--white);
}
